<main>
	<div class="header">
		<a href="/new_game" (click)="deleteGame()"><mat-icon> arrow_back </mat-icon></a>
		<a href="/new_game" (click)="deleteGame()" class="logo">AniTrackGuess</a>
		<div id="volume-control" class="header-right">
			<label for="volume-slider">Volume:</label>
			<input id="volume-slider" type="range" min="0" max="1" step="0.01" />
		</div>
	</div>
	<div class="central-column">
		<h1>Round: {{currentRound}}/{{rounds}}</h1>
		<div [ngClass]="{'title-not-hidden': !roundEnded, 'title-hidden': roundEnded}">
			<h2>Guess this anime's name!</h2>
		</div>
		<div [ngClass]="{'anime-name-right': roundEnded && correct, 'anime-name-wrong': roundEnded && !correct}">
			{{animeName}}
		</div>
		<div class="container">
			<p class="loading" *ngIf="!videoLoaded || loading">Loading video...</p>
			<video name="media" [ngClass]="{'video-cover': !roundEnded, 'video-uncover': roundEnded}" [src]="videoUrl" frameborder="0"
				id="my_video" allow="encrypted-media">
			</video>
			<button [ngClass]="{'play-button-display': !started, 'play-button-hidden': started}" (click)="playPause()"
				[disabled]="!videoLoaded">
				<mat-icon class="play-icon">play_arrow</mat-icon>
			</button>
			<div [ngClass]="{'not-hidden': !started, 'hidden': started}">Press to start the round!</div>
		</div>

		<form [formGroup]="animeForm" (ngSubmit)="onSubmit()">
			<mat-form-field appearance="outline" class="input" subscriptSizing="dynamic">
				<input matInput class="input-form" formControlName="anime" [matAutocomplete]="auto"
					placeholder="Escribe un anime" (input)="filterAnimes($event)" [disabled]="!videoLoaded" />
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option *ngFor="let suggestion of filteredSuggestions" [value]="suggestion" class="suggestion"
						(click)="onSuggestionSelected(suggestion)" [disabled]="!videoLoaded">
						{{ suggestion }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
			<button class="submit-answer" type="submit"
				[disabled]="!videoLoaded || !started || roundEnded || isSubmitting">Submit Answer!</button>
		</form>
	</div>
	<div class="cover-section">

		<div class="cover-title">
			<h2>Cover</h2>
		</div>
		<img [ngClass]="{'cover': !roundEnded, 'uncover': roundEnded}" [src]="images[0]" alt="Cover" id="cover" />
	</div>
	<div class="game-overview">
		<h2>Overview</h2>
		<div class="game-table">
			<table>
				<thead>
					<tr>
						<th>#</th>
						<th>Anime</th>
						<th>Correct</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let round of roundsData">
						<td>{{ round.roundNumber }}</td>
						<td>{{ round.anime }}</td>
						<td *ngIf="round.correct; else elseBlock">
							<mat-icon class="check">check</mat-icon>
						</td>
						<ng-template #elseBlock>
							<td>
								<mat-icon class="wrong">close</mat-icon>
							</td>
						</ng-template>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="countdown" id="countdown">
			<svg viewBox="-50 -50 100 100" stroke-width="10">
				<circle r="45"></circle>
				<circle r="45" pathLength="1"></circle>
			</svg>
		</div>
		<div class="next-round-button">
			<button [ngClass]="{'next-round-hidden': !roundEnded, 'next-round': roundEnded}"
				(click)="nextRound()">{{roundButtonLabel}}</button>
		</div>
	</div>
	<app-review-game-popup *ngIf="showEndGamePopup">
	</app-review-game-popup>
</main>