main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/background-gamepage.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -2;
}

.central-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.header {
  overflow: hidden;
  background-color: #16425B;
  height: 5vh;
  padding: 10px 10px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
  height: fit-content;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  font-kerning: 5px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


/* Float the link section to the right */
.header-right {
  float: right;
  padding-right: 5%;
  padding-top: 0.5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the form items */
  width: 100%;
  /* Optional: Adjust form width if needed */
}

.container {
  position: relative;
  overflow: hidden;
  width: 50%;
  padding-top: 28.12%;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2vh;
}

.title-not-hidden {
  display: block;
}

.title-hidden {
  display: none;
}

.anime-name-right {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #127a1b;
}

.anime-name-wrong {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2vh;
  color: #ff0000;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  content: " ";
}

.play-button-display {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25vh;
  aspect-ratio: 1/1;
  background-color: rgb(69, 125, 142);
  border: 0.6vw solid white;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}

.play-button-hidden {
  display: none;
}

.not-hidden {
  position: absolute;
  user-select: none;
  bottom: 20%;
  left: 50%;
  font-size: 2rem;
  text-shadow:#000000 3px 3px 8px;
  transform: translate(-50%, 0%);
  color: white;
}

.hidden {
  display: none;
}

.loading {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -100%);
  font-weight: 500;
  font-size: 2.5rem;
  text-shadow:#ffffff 3px 3px 8px;
  z-index: 1;
  color: #16425B;
}

.play-icon {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 7%;
  left: 0%;
  font-size: 20vh;
}

video::-webkit-media-controls {
  display: none !important; /* Ocultar controles nativos en navegadores con Webkit */
}


#volume-control label {
  font-size: 16px;
  color: #fff;
}

#volume-slider {
  width: 150px;
  height: 5px;
  background-color: #ccc;
  cursor: pointer;
}

.video-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(50px);
  --webkit-filter: blur(50px);
  pointer-events: none;
}

.video-uncover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  filter: blur(0px);
  --webkit-filter: blur(0px);
}

.cover-section {
  position: fixed;
  top: 20vh;
  right: 0;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  width: 20vw;
}

.cover-title {
  transform: translate(0, -40%);
  width: 15vw;
  font-size: 3rem;
}

.cover {
  width: 15vw;
  filter: blur(30px);
  -webkit-filter: blur(30px);
  pointer-events: none;
}

.uncover {
  width: 15vw;
  filter: blur(0px);
  -webkit-filter: blur(0px);
}

.game-overview {
  padding-left: 3%;
  position: fixed;
  top: 16vh;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 20vw;

}

.game-table {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  max-height: 50vh;
  overflow: scroll;
  border: 1px solid #16425B;
  border-radius: 6px;
  width: 20vw;
}

.game-table::-webkit-scrollbar {
  display: none;
}

table {
  display: table;
  border-color: #16425B;
  border-collapse: collapse;
  margin: 0 auto;
  position: relative;
  text-align: center;

  td:not(:last-child),
  th:not(:last-child) {
    border-right: 1px solid #16425B;
  }

  td:first-child,
  th:first-child,
  td:last-child,
  th:last-child {
    width: 10%;
  }

  * {
    padding-left: 8px;
    padding-right: 8px;
  }

  thead tr {
    height: 60px;
    background: #16425B;
    font-size: 16px;
    color: #fff;
  }

  tbody tr {
    border-bottom: 1px solid #16425B;
    height: 48px;
    background: #b7c6e9;
  }
}

.input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2vh;
  width: 40vw;
  flex-grow: 1;
  color: #000000;
  font-size: 18px;
  line-height: 2.4rem;
  border-radius: 5px;
  border-width: 100%;
  vertical-align: middle;
  background-color: #f0f0f0;
  font-weight: bold;
}

input::placeholder {
  font-weight: normal;
}


.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

button.submit-answer {
  position: relative;
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 3rem;
  padding: 0.375em 1em;
  margin-top: 2vh;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.25s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:active,
  &:hover {
    transform: translateY(0.225em);
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;

    &:after {
      height: calc(100% + 0.225em);
    }
  }

  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: calc(100% + 0.375em);
    top: 0;
    left: 0;
    background-color: transparent;
    transition: height 0.25s ease;
  }
}


button.next-round {
  position: fixed;
  right: 4vw;
  bottom: 7vh;
  font: inherit;
  background-color: #f0f0f0;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 3rem;
  padding: 0.375em 1em;
  margin-top: 2vh;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #fff;
  box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
    0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
    0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
  transition: 0.25s ease;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:active,
  &:hover {
    transform: translateY(0.225em);
    box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
      0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
      0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;

    &:after {
      height: calc(100% + 0.225em);
    }
  }

  &:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: calc(100% + 0.375em);
    top: 0;
    left: 0;
    background-color: transparent;
    transition: height 0.25s ease;
  }
}

button.next-round-hidden {
  display: none;
}

.wrong {
  font-size: 25px;
  vertical-align: middle;
  color: red;
  font-weight: bold;
}

.check {
  font-size: 25px;
  vertical-align: middle;
  color: green;
  font-weight: bold;
}