<main>
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>AniTrackGuess </h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>Game</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="/new_game">
          <mat-icon>videogame_asset</mat-icon>New Game</a>
      </li>
      <li>
        <a href="/recent-games"><mat-icon>overview</mat-icon>Recent Games</a>
      </li>
      <li>
        <a href="/stats"><mat-icon>monitoring</mat-icon>Stats</a>
      </li>
      <h4>
        <span>General</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="/friends"><mat-icon>groups</mat-icon>Friends</a>
      </li>
      <li>
        <a href="/notifications"><mat-icon>notifications_active</mat-icon>Notifications</a>
      </li>
      <h4>
        <span>Account</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="/profile"><mat-icon>account_circle</mat-icon>Profile</a>
      </li>
      <li>
        <a href="/settings"><mat-icon>settings</mat-icon>Settings</a>
      </li>
      <li>
        <a href="/logout"><mat-icon>logout</mat-icon>Logout</a>
      </li>
    </ul>
    <div class="user-account">
      <div class="user-profile">
        <img src="images/profile-img.jpg" alt="Profile Image" />
        <div class="user-detail">
          <h3>{{userName}}</h3>
          <span></span>
        </div>
      </div>
    </div>
  </aside>

  <!-- HTML !-->
  <button class="button-89 solo-game" role="button" (click)="showPopup()">
    <mat-icon class="icon">videogame_asset</mat-icon>
    <span class="text">Solo Game</span>
  </button>


  <app-solo-game-popup *ngIf="isPopupVisible" (gameConfigured)="handlePopupResult($event)">
  </app-solo-game-popup>

  <button class="button-89 multi-game" role="button">
    <mat-icon class="icon">groups</mat-icon>
    <span class="text">Multiplayer Game</span>
  </button>
  <button class="button-89 quick-game" role="button">
    <mat-icon class="icon">bolt</mat-icon>
    <span class="text">Quick Game</span>
  </button>
  <button class="button-89 infinite-game" role="button">
    <mat-icon class="icon">all_inclusive</mat-icon>
    <span class="text">Infinite Game</span>
  </button>
</main>