<main>
  <aside class="sidebar">
    <div class="sidebar-header">
      <h2>AniTrackGuess </h2>
    </div>
    <ul class="sidebar-links">
      <h4>
        <span>Game</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a href="/new_game">
          <mat-icon>videogame_asset</mat-icon>New Game</a>
      </li>
      <h4>
        <span>Account</span>
        <div class="menu-separator"></div>
      </h4>
      <li>
        <a (click)="logout()"><mat-icon>logout</mat-icon>Logout</a>
      </li>
    </ul>
    <h3 class="username">{{userName}}</h3>
    <!--<p class="level">Level: {{level}}</p> !-->
  </aside>

  <!-- HTML !-->
  <button class="button-89 solo-game" role="button" (click)="showPopup()">
    <mat-icon class="icon">videogame_asset</mat-icon>
    <span class="text">Solo Game</span>
  </button>


  <app-solo-game-popup *ngIf="isPopupVisible" (gameConfigured)="handlePopupResult($event)">
  </app-solo-game-popup>

  <button class="button-89 quick-game" role="button" (click)="startQuickGame()">
    <mat-icon class="icon">bolt</mat-icon>
    <span class="text">Quick Game</span>
  </button>
</main>